/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.button {
	-fx-background-color: #99ccff;
	-fx-text-fill: white;
}

.logout button {
	-fx-background-color: inherit;
	-fx-text-fill: inherit;
	-fx-background-radius: 100px;
}

.theme {
	-fx-background-color: #f2f2f2;
}

.text {
	-fx-text-fill: #66a3ff;
}